.range-slider {
    position: relative;
    width: 100%;
    height: 6px;
    background: #dee2e6;
    border-radius: 5px;
}

.range-slider input[type="range"] {
    position: absolute;
    width: 100%;
    height: 12px;
    top: 0;
    left: 0;
    background: none;
    pointer-events: none;
    appearance: none;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    pointer-events: auto;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #0d6efd;
    cursor: pointer;
    border: none;
    margin-top: -6px; /* EZ igazítja középre */
}

.range-slider input[type="range"]::-moz-range-thumb {
    pointer-events: auto;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #0d6efd;
    cursor: pointer;
    border: none;
}
