.builder-container {
  margin-top: 5rem;
  padding-top: 1rem;
}

.builder-preview {
  max-width: 620px;
  aspect-ratio: 1 / 1;
  background-color: #e0e0e0;
  border: 1px solid #888;
}

.builder-price {
  font-size: 2.2rem;
  font-weight: lighter;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 25px;
  max-width: 220px;
}

.btn.btn-primary-custom {
  background-color: #ff6b6b;
  outline: 2px, solid, black;
  color: #fff;
}

.btn.btn-save-custom {
  background-color: #8fbdb6;
  color: #fff;
}

.btn.btn-reset-custom {
  background-color: #b0ad6f;
  color: #fff;
}

.btn.btn-primary-custom,
.btn.btn-save-custom,
.btn.btn-reset-custom {
  border: 2px solid rgba(0, 0, 0, 0.2);
}


.view-toggle {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
}
