@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.icon-image {
  width: 100%;
  max-width: 480px;
  aspect-ratio: 1 / 1;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}


h1, h2 {
  font-family: 'Libre Bodoni', serif;
  font-weight: 700;
}


.col{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}