@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.icon-image {
  width: 100%;
  max-width: 480px;
  aspect-ratio: 1 / 1;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

.container{
    padding-top: 25px;
}


h1, h2 {
  font-family: 'Libre Bodoni', serif;
}

h1{
    font-size: 72px;
    font-weight: 450;
}

h2{
    font-size: 40px;
    font-weight: lighter;
}

h4, h6{
    font-family: 'Inter', serif;
}


.col > div {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}